.chat-container {
  background: aliceblue;
}

.chat-list {
  padding: 0;
  font-size: 0.9rem;
  overflow-y: scroll;
  height: 500px;
  background: aliceblue;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.chat-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-message {
  display: inline-block;
  clear: both;
  color: #fff;
  padding: 10px 10px;
  font-size: 0.9rem;
  max-width: 85%;
  margin-bottom: 5px;
}

.in .chat-body .chat-message {
  float: left;
  background-color: #5a99ee;
  border-radius: 17px;
  border-top-left-radius: 5px;
}

.out .chat-body .chat-message {
  float: right;
  background-color: #5a99ee;
  border-radius: 17px;
  border-top-right-radius: 5px;
}

.in .chat-body .time_date {
  float: left;
}

.out .chat-body .time_date {
  float: right;
}

.time_date {
  color: rgba(128, 126, 126, 0.945);
  display: inline-block;
  margin-bottom: 2px;
  clear: both;
  font-size: 12px;
}
