body {
  background: #eee;
}

.chat-list {
  padding: 0;
  font-size: 0.8rem;
  overflow-y: scroll;
  height: 250px;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.chat-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-list li {
  margin-bottom: 10px;
  color: #ffffff;
}

.chat-list .out{
  margin-top: 50px;
  margin-bottom: 50px;
}

.chat-list .chat-message {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #5a99ee;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  max-width: 75%;
}

.chat-list .chat-message:before {
  content: '';
  position: absolute;
  top: 15px;
  width: 0;
  height: 0;
}

.chat-list .chat-message p {
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.chat-list .chat-body {
  float: left;
}

.chat-list .in .chat-message:before {
  border-bottom: 20px solid transparent;
}

.chat-list .out .chat-body {
  float: right;
  text-align: right;
}

.chat-list .out .chat-message {
  background: #fc6d4c;
}

.chat-list .out .chat-message:before {
  border-bottom: 20px solid transparent;
}

.card .card-header:first-child {
  -webkit-border-radius: 0.3rem 0.3rem 0 0;
  -moz-border-radius: 0.3rem 0.3rem 0 0;
  border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
  background: #166999;
  border: 0;
  font-size: 1rem;
  padding: 0.65rem 1rem;
  position: relative;
  font-weight: 600;
  color: #ffffff;
}

.time_date {
  color: rgba(36, 35, 35, 0.945);
  display: block;
  font-size: 10px;
  margin: 0 5px 5px 5px;
}

.list-details {
  font-weight: 400;
  color: #223035;
  line-height: 15px;
  background-color: #add2e7;
}

.list-details small {
  font-size: 12px;
  font-weight: 400;
  color: #808080;
}
