.login-body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.login-form-background {
  background-color: whitesmoke;
  margin-top: 6em;
  border-radius: 10px;
}

.login-form-m {
  width: 340px;
  margin: 14px;
  padding: 20px;
  font-size: 14px;
  background-color: #f6f8fa;
  border: 1px solid #eaecef;
  border-radius: 6px;
}

.icon-bot {
  background-image: url('../icons/botIcon.svg');
  width: 70px;
  height: 70px;
  margin: 1em;
  background-repeat: no-repeat;
}

.lock-image {
  width: 30px;
  height: 30px;
  fill: whitesmoke;
}

.login-form-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.form-login-title {
  font-weight: 600;
  display: block;
  margin-bottom: 7px;
  text-align: left;
}

.login-callout {
  margin: 14px;
  width: 340px;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid #d8dee2;
  border-radius: 5px;
}

.input-width {
  width: 300px !important;
}