.r-ag-grid {
  height: '60vh' !important;
  width: '80%' !important;
}

.upload-btn-wrapper-reference-modal {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.upload-btn-wrapper-reference-modal input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.cover-image {
  width: 100%;
  max-width: 100px;
  height: 150px;
  border: 1px solid #4391be;
  border-radius: 4%;
}
