.r-container {
  height: 85vh;
  background-color: white;
  border-radius: 6px;
  border-top: 4px solid #3c8dbc;
  margin-top: 50px !important;
}

.r-button {
  background-color: #3c8dbc !important;
  border: 1px solid #367fa9 !important;
}

.r-ag-grid {
  height: "60vh" !important;
  width: "80%" !important;
}
