.icon-bar {
  width: 20px;
  height: 20px;
  margin: 1vh;
  background-repeat: no-repeat;
}

.icon-bar:hover {
  cursor: pointer;
}

.profile {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  font-size: 0.85rem;
}

.sidebar {
  min-width: 230px;
  font-size: 0.9rem;
}

.sidebar-title {
  color: #fff;
}

.sidebar-item {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-item .list-group-item {
  color: #b8c7ce;
  background-color: #222d32;
  border: none;
}

.sidebar-item .list-group-item:hover {
  color: #fff;
  background-color: #1e282c;
  text-decoration: none;
}

.navbar {
  background-color: #3c8dbc;
  padding: 0.3rem 1rem !important;
}

.navbar-font {
  color: white;
}

.navbar-font:hover {
  color: rgba(245, 245, 245, 0.801);
}

.border-less {
  border: none;
}

.side-navbar {
  padding: 0.4rem;
  background-color: #367fa9;
}

.side-navbar-title {
  color: #4b646f;
  background-color: #1a2226;
  padding: 10px 25px 10px 15px;
  font-size: 14px;
}

.avatar-image {
  float: left;
}

.img-circle {
  width: 100%;
  border-radius: 50%;
  max-width: 45px;
  height: 45px;
  object-fit: cover;
}

.user-name {
  float: left;
  color: #fff;
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}

.sidebar-link.active {
  background-color: #1e282c !important;
  border-left: 3px solid #007bff;
}
